# Archivos de credenciales y secretos
App/client_secret_742107307448-9o7aiqsd8vtbqdjnnj5f6f7b814f80bv.apps.googleusercontent.com.json
App/llave_de_release.keystore
App/token.json
App/datos.json

# Directorios de entorno virtual y compilación
venv_Transporte/
APK's/
App/.buildozer/
App/bin

# Archivos de build y paquetes
App/llave_de_release.keystore

# Archivos de caché y de sistema operativo
.DS_Store

